Repository RiyaBhandari-2811/Byte-Meets-Word: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, stylelint --fix

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}":[
        "prettier --write",
        "eslint --fix",
        "eslint"
    ],
    "*.json":[
        "prettier --write"
    ],
    "*.{css,scss,sass}": [
        "stylelint --fix",
        "git add"
      ]
}

fix(husky): installed the husky
  package-lock.json
  package.json
Due: prettier --write

fix(imports): removed the unused imports
  src/components/gradient_icon/GradientIcon.tsx
  src/components/navitems/NavItems.tsx
  src/pages/Articles.tsx
  src/pages/Contact.tsx
  src/pages/layout/Layout.tsx
Due: prettier --write, eslint --fix, eslint

fix(imports): removed the unused imports
  tsconfig.app.json
Due: prettier --write

fix(json): json import resolved
  tsconfig.app.json
Due: prettier --write

feat(article): added the articles-page
  src/pages/Articles.tsx
  src/pages/articles/Articles.tsx
  src/routing/routes.tsx
Due: prettier --write, eslint --fix, eslint

feat(article): added the articles-page (#14)
  src/pages/Articles.tsx
  src/pages/articles/Articles.tsx
  src/routing/routes.tsx
Due: prettier --write, eslint --fix, eslint

feat(detail-page): started with the article details page
  src/components/card/Card.tsx
  src/pages/Contact.tsx
  src/pages/article-detail/ArticleDetail.tsx
  src/routing/routes.tsx
Due: prettier --write, eslint --fix, eslint

feat(article-detail): added the dummy content
  package-lock.json
  package.json
  src/assets/json/articleDetail.json
  src/pages/article-detail/ArticleDetail.tsx
Due: prettier --write, eslint --fix, eslint

feat(detail-page): started with the article details page (#15)
  package-lock.json
  package.json
  src/assets/json/articleDetail.json
  src/components/card/Card.tsx
  src/pages/Contact.tsx
  src/pages/article-detail/ArticleDetail.tsx
  src/routing/routes.tsx
Due: prettier --write, eslint --fix, eslint

feat(article-detail): added the code snippet and copy functionality
  package-lock.json
  package.json
  src/assets/json/articleDetail.json
  src/components/heading/Heading.tsx
  src/pages/article-detail/ArticleDetail.tsx
Due: prettier --write, eslint --fix, eslint

fix(error): resolved error
  src/pages/article-detail/ArticleDetail.tsx
Due: prettier --write, eslint --fix, eslint

feat(detail-page): article details page (#16)
  package-lock.json
  package.json
  src/assets/json/articleDetail.json
  src/components/heading/Heading.tsx
  src/pages/article-detail/ArticleDetail.tsx
Due: prettier --write, eslint --fix, eslint

fix(name): added logo and changed the website name
  index.html
  public/vite.svg
  src/assets/img/WesternMan.svg
  src/assets/img/digital-transformation.png
  src/assets/img/female-user.png
  src/assets/img/react.svg
  src/components/hero_banner/HeroBanner.tsx
  src/components/nav_bar/NavBar.tsx
Due: prettier --write, eslint --fix, eslint

fix(deploybug): resolved the path issue
  src/components/footer/Footer.tsx
  src/pages/layout/Layout.tsx
Due: prettier --write, eslint --fix, eslint

fix(footer): removed the incorrect dir
  src/components/Footer/Footer.tsx
Due: prettier --write, eslint --fix, eslint

refactor(theme): removed the theme
  index.html
  src/components/nav_bar/NavBar.tsx
  src/pages/layout/Layout.tsx
  src/scss/abstracts/_variables.scss
  src/scss/theme/theme.scss
Due: prettier --write, eslint --fix, eslint, stylelint --fix

refactor(theme): removed the theme (#17)
  index.html
  src/components/nav_bar/NavBar.tsx
  src/pages/layout/Layout.tsx
  src/scss/abstracts/_variables.scss
  src/scss/theme/theme.scss
Due: prettier --write, eslint --fix, eslint, stylelint --fix

fix(route): added the new route and resolved the route bugs
  src/components/card/Card.tsx
  src/components/content_rail/ContentRail.tsx
  src/pages/tag-detail/TagDetail.tsx
  src/pages/tags/Tags.tsx
  src/routing/routes.tsx
  src/utils/navigateTo.ts
  src/utils/slugify.ts
Due: prettier --write, eslint --fix, eslint

fix(scroll): fixed the scroll issue
  src/pages/layout/Layout.tsx
  src/utils/ScrollToTop.tsx
Due: prettier --write, eslint --fix, eslint

feat(backend): connected to server locally
  src/pages/layout/Layout.tsx
  vite.config.ts
Due: prettier --write, eslint --fix, eslint

feat(env): added the env for the baseurl
  .gitignore
  src/pages/layout/Layout.tsx
  src/vite-env.d.ts
  tsconfig.app.json
  vite.config.ts
Due: prettier --write, eslint --fix, eslint

feat(env): added the env for the baseurl
  .env
  .env.prod
  .gitignore
Due: none

fix(env): added logs
  src/pages/layout/Layout.tsx
Due: prettier --write, eslint --fix, eslint

fix(env): rename the env file
  .env.production
Due: none

fix(env): added them in .gitignore
  .gitignore
Due: none

fix(env): added full url
  src/pages/layout/Layout.tsx
Due: prettier --write, eslint --fix, eslint

feat(api): added the RTK query and called 2 apis
  .env
  .env.production
  package-lock.json
  package.json
  src/App.tsx
  src/components/content_rail/ContentRail.tsx
  src/features/articlesSlice.ts
  src/features/tagsSlice.ts
  src/pages/layout/Layout.tsx
  src/pages/tag-detail/TagDetail.tsx
  src/pages/tags/Tags.tsx
  src/routing/routes.tsx
  src/store/store.ts
Due: prettier --write, eslint --fix, eslint

feat(api): added the Article api
  src/components/content_rail/ContentRail.tsx
  src/features/articlesSlice.ts
  src/pages/article-detail/ArticleDetail.tsx
  src/pages/articles/Articles.tsx
  src/routing/routes.tsx
  vite.config.ts
Due: prettier --write, eslint --fix, eslint

fix(api): fixed the type bug
  src/components/content_rail/ContentRail.tsx
  src/pages/articles/Articles.tsx
  src/pages/tag-detail/TagDetail.tsx
Due: prettier --write, eslint --fix, eslint

feat(tags): added the pagination for tags page
  src/features/tagsSlice.ts
  src/pages/tags/Tags.tsx
  src/utils/theme.ts
Due: prettier --write, eslint --fix, eslint

feat(pagination): added pagination on the Articles page
  src/components/pagination/Pagination.tsx
  src/features/articlesSlice.ts
  src/pages/articles/Articles.tsx
  src/pages/tags/Tags.tsx
Due: prettier --write, eslint --fix, eslint

feat(articleByTag): added pagination and type
  src/components/content_rail/ContentRail.tsx
  src/features/articlesSlice.ts
  src/pages/article-detail/ArticleDetail.tsx
  src/pages/articles/Articles.tsx
  src/pages/tag-detail/TagDetail.tsx
Due: prettier --write, eslint --fix, eslint

fix(home): commented the Content Rail
  src/pages/Home.tsx
Due: prettier --write, eslint --fix, eslint

fix(type): fixed the type error
  src/assets/json/contentRail.json
  src/components/content_rail/ContentRail.tsx
  src/pages/Home.tsx
Due: prettier --write, eslint --fix, eslint

feat(contentRail): added the content rail
  src/components/content_rail/ContentRail.tsx
  src/features/contentRailSlice.ts
  src/pages/Home.tsx
  src/store/store.ts
Due: prettier --write, eslint --fix, eslint

feat(category): fetch the articles by category id
  src/components/content_rail/ContentRail.tsx
  src/features/articlesSlice.ts
  src/pages/category/Category.tsx
  src/routing/routes.tsx
Due: prettier --write, eslint --fix, eslint

feat(category): added the pagination
  src/features/articlesSlice.ts
  src/pages/category/Category.tsx
Due: prettier --write, eslint --fix, eslint

feat(type): started adding types
  src/components/card/Card.tsx
  src/components/content_rail/ContentRail.tsx
  src/features/contentRailSlice.ts
  src/pages/articles/Articles.tsx
  src/types/article.ts
  src/types/contentRail.ts
  tsconfig.app.json
Due: prettier --write, eslint --fix, eslint

feat(types): added types for tag and responses
  src/features/articlesSlice.ts
  src/features/tagsSlice.ts
  src/pages/articles/Articles.tsx
  src/pages/category/Category.tsx
  src/pages/tag-detail/TagDetail.tsx
  src/pages/tags/Tags.tsx
  src/types/article.ts
  src/types/tag.ts
Due: prettier --write, eslint --fix, eslint

fix(articelDetail): fix the bug
  src/pages/article-detail/ArticleDetail.tsx
Due: prettier --write, eslint --fix, eslint
