Repository RiyaBhandari-2811/Byte-Meets-Word: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, stylelint --fix

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}":[
        "prettier --write",
        "eslint --fix",
        "eslint"
    ],
    "*.json":[
        "prettier --write"
    ],
    "*.{css,scss,sass}": [
        "stylelint --fix",
        "git add"
      ]
}

feat(.github): added action and workflow
  .github/actions/pr-title-validator-action/action.yml
  .github/actions/pr-title-validator-action/index.js
  .github/actions/pr-title-validator-action/package-lock.json
  .github/actions/pr-title-validator-action/package.json
Due: prettier --write, eslint --fix, eslint

feat(.github): added action and workflow
  .github/workflows/pr-title-validation.yml
Due: none

fix(.github): removed my action and added marketplace action
  .github/actions/pr-title-validator-action/action.yml
  .github/actions/pr-title-validator-action/index.js
  .github/actions/pr-title-validator-action/package-lock.json
  .github/actions/pr-title-validator-action/package.json
  .github/workflows/pr-title-validation.yml
Due: prettier --write, eslint --fix, eslint

fix(.github): added token
  .github/workflows/pr-title-validation.yml
Due: none

added inspect plugin
  package-lock.json
  package.json
  vite.config.ts
Due: prettier --write, eslint --fix, eslint

chore(stylint): added few rules
  .stylelintrc.json
Due: prettier --write

style(scss): added scss folder
  .stylelintrc.json
  package-lock.json
  package.json
  src/scss/abstracts/_breakpoints.scss
  src/scss/abstracts/_fonts.scss
  src/scss/abstracts/_mixins.scss
  src/scss/abstracts/_variables.scss
Due: prettier --write, stylelint --fix

style(theme): added the strict color usage check and added theme style
  .stylelintrc.json
  index.html
  package-lock.json
  package.json
  src/App.css
  src/App.tsx
  src/index.css
  src/main.tsx
  src/scss/abstracts/_mixins.scss
  src/scss/abstracts/_variables.scss
  src/scss/theme/theme.scss
Due: prettier --write, eslint --fix, eslint, stylelint --fix

style(scss): added scss folder (#3)
  .stylelintrc.json
  index.html
  package-lock.json
  package.json
  src/App.css
  src/App.tsx
  src/index.css
  src/main.tsx
  src/scss/abstracts/_breakpoints.scss
  src/scss/abstracts/_fonts.scss
  src/scss/abstracts/_mixins.scss
  src/scss/abstracts/_variables.scss
  src/scss/theme/theme.scss
Due: prettier --write, eslint --fix, eslint, stylelint --fix

style(mui): added mui and theme toggle
  package-lock.json
  package.json
  src/App.tsx
  src/utils/getCssVariable.ts
  src/utils/theme.ts
Due: prettier --write, eslint --fix, eslint

feat(routing): added pages, components & routing
  package-lock.json
  package.json
  src/App.tsx
  src/components/Footer/Footer.tsx
  src/components/NavBar/NavBar.tsx
  src/pages/Articles.tsx
  src/pages/Contact.tsx
  src/pages/Courses.tsx
  src/pages/Home.tsx
  src/pages/Layout.tsx
  src/pages/Tags.tsx
  src/routing/router.tsx
  src/routing/routes.tsx
  src/scss/abstracts/_variables.scss
  tsconfig.app.json
  vite.config.ts
Due: prettier --write, eslint --fix, eslint, stylelint --fix

feat(navbar): started with navbar
  src/components/Footer/Footer.tsx
  src/components/NavBar/NavBar.tsx
  src/components/drawer/Drawer.tsx
  src/pages/Layout.tsx
  src/pages/layout/Layout.scss
  src/pages/layout/Layout.tsx
  src/routing/router.tsx
  src/scss/theme/theme.scss
Due: prettier --write, eslint --fix, eslint, stylelint --fix

style(navbar): added the navbar, stuck with style
  src/components/NavBar/NavBar.scss
  src/components/NavBar/NavBar.tsx
  src/components/drawer/Drawer.tsx
  src/components/navitems/NavItems.scss
  src/components/navitems/NavItems.tsx
  src/pages/Home.tsx
  src/pages/layout/Layout.scss
  src/routing/routes.tsx
  src/scss/abstracts/_breakpoints.scss
  src/scss/abstracts/_mixins.scss
  src/scss/theme/theme.scss
  src/utils/navigateTo.ts
  src/utils/theme.ts
Due: prettier --write, eslint --fix, eslint, stylelint --fix

style(navbar): completed navbar
  package.json
  src/components/NavBar/NavBar.scss
  src/components/NavBar/NavBar.tsx
  src/components/navitems/NavItems.scss
  src/components/navitems/NavItems.tsx
  src/pages/layout/Layout.tsx
  src/scss/abstracts/_breakpoints.scss
  src/utils/theme.ts
Due: prettier --write, eslint --fix, eslint, stylelint --fix

style(navbar): added gradient text
  src/components/NavBar/NavBar.tsx
  src/components/gradienttext/GradientText.scss
  src/components/gradienttext/GradientText.tsx
  src/components/navitems/NavItems.tsx
Due: prettier --write, eslint --fix, eslint, stylelint --fix

style(navbar): added gradient text
  src/components/NavBar/NavBar.tsx
Due: prettier --write, eslint --fix, eslint

style(navbar): added gradient text
  src/components/navitems/NavItems.tsx
Due: prettier --write, eslint --fix, eslint

feat(navbar): navbar (#5)
  package.json
  src/components/Footer/Footer.tsx
  src/components/NavBar/NavBar.scss
  src/components/NavBar/NavBar.tsx
  src/components/gradienttext/GradientText.scss
  src/components/gradienttext/GradientText.tsx
  src/components/navitems/NavItems.scss
  src/components/navitems/NavItems.tsx
  src/pages/Home.tsx
  src/pages/Layout.tsx
  src/pages/layout/Layout.scss
  src/pages/layout/Layout.tsx
  src/routing/router.tsx
  src/routing/routes.tsx
  src/scss/abstracts/_breakpoints.scss
  src/scss/abstracts/_mixins.scss
  src/scss/theme/theme.scss
  src/utils/navigateTo.ts
  src/utils/theme.ts
Due: prettier --write, eslint --fix, eslint, stylelint --fix

style(herobanner): added the hero banner to home page
  src/assets/WesternMan.svg
  src/components/NavBar/NavBar.tsx
  src/components/gradient_text/GradientText.scss
  src/components/gradient_text/GradientText.tsx
  src/components/heading/Heading.tsx
  src/components/hero_banner/HeroBanner.tsx
  src/components/render_emoji/RenderEmoji.tsx
  src/pages/Home.tsx
  src/pages/layout/Layout.scss
  src/utils/theme.ts
Due: prettier --write, eslint --fix, eslint, stylelint --fix

feat(herobanner): added the hero banner
  src/components/heading/Heading.tsx
  src/components/hero_banner/HeroBanner.tsx
  src/components/render_emoji/RenderEmoji.tsx
Due: prettier --write, eslint --fix, eslint

style(herobanner): added the hero banner to home page (#7)
  src/assets/WesternMan.svg
  src/components/NavBar/NavBar.tsx
  src/components/gradient_text/GradientText.scss
  src/components/gradient_text/GradientText.tsx
  src/components/heading/Heading.tsx
  src/components/hero_banner/HeroBanner.tsx
  src/components/render_emoji/RenderEmoji.tsx
  src/pages/Home.tsx
  src/pages/layout/Layout.scss
  src/utils/theme.ts
Due: prettier --write, eslint --fix, eslint, stylelint --fix

style(navbar): changed the responsive values
  src/components/NavBar/NavBar.tsx
  src/components/navitems/NavItems.tsx
Due: prettier --write, eslint --fix, eslint

feat(contentrail): added the content rail
  src/assets/img/WesternMan.svg
  src/assets/img/react.svg
  src/assets/json/contentRail.json
  src/components/card/Card.tsx
  src/components/contentRail/ContentRail.tsx
  src/components/heading/Heading.tsx
  src/components/hero_banner/HeroBanner.tsx
  src/pages/Home.tsx
  src/pages/layout/Layout.tsx
Due: prettier --write, eslint --fix, eslint

feat(contentrail): added the content rail (#8)
  src/assets/img/WesternMan.svg
  src/assets/img/react.svg
  src/assets/json/contentRail.json
  src/components/card/Card.tsx
  src/components/contentRail/ContentRail.tsx
  src/components/heading/Heading.tsx
  src/components/hero_banner/HeroBanner.tsx
  src/pages/Home.tsx
  src/pages/layout/Layout.tsx
Due: prettier --write, eslint --fix, eslint

style(newsletter): added the component and styles
  src/components/newsletter/Newsletter.tsx
  src/pages/layout/Layout.tsx
Due: prettier --write, eslint --fix, eslint

style(newsletter): added the component and styles (#9)
  src/components/newsletter/Newsletter.tsx
  src/pages/layout/Layout.tsx
Due: prettier --write, eslint --fix, eslint

feat(footer): added footer and basic style
  src/components/Footer/Footer.tsx
  src/pages/layout/Layout.tsx
Due: prettier --write, eslint --fix, eslint

feat(footer): added footer and basic style (#10)
  src/components/Footer/Footer.tsx
  src/pages/layout/Layout.tsx
Due: prettier --write, eslint --fix, eslint

style(icon): added the gradient in the logo
  src/components/content_rail/ContentRail.tsx
  src/components/gradient_icon/GradientIcon.tsx
  src/components/nav_bar/NavBar.scss
  src/components/nav_bar/NavBar.tsx
  src/pages/Home.tsx
  src/pages/layout/Layout.tsx
Due: prettier --write, eslint --fix, eslint, stylelint --fix

style(navitem): added the on hover
  src/components/nav_bar/NavBar.tsx
  src/components/navitems/NavItems.scss
  src/components/navitems/NavItems.tsx
Due: prettier --write, eslint --fix, eslint, stylelint --fix

style(icons): added the social handle component and styles
  src/components/Footer/Footer.tsx
  src/components/hero_banner/HeroBanner.tsx
  src/components/nav_bar/NavBar.tsx
  src/components/social_handles/SocialHandles.scss
  src/components/social_handles/SocialHandles.tsx
  src/constants/socialMedia.ts
  src/utils/theme.ts
Due: prettier --write, eslint --fix, eslint, stylelint --fix

style(footer,card): added the styles
  src/assets/json/contentRail.json
  src/components/Footer/Footer.tsx
  src/components/card/Card.scss
  src/components/card/Card.tsx
  src/components/content_rail/ContentRail.tsx
  src/components/newsletter/Newsletter.tsx
  src/constants/socialMedia.ts
Due: prettier --write, eslint --fix, eslint, stylelint --fix

style(contentrail): added the gap in the title and cards
  src/components/content_rail/ContentRail.tsx
Due: prettier --write, eslint --fix, eslint

style(navbar): completed the styling of the Home page
  src/components/nav_bar/NavBar.scss
  src/components/nav_bar/NavBar.tsx
  src/scss/theme/theme.scss
Due: prettier --write, eslint --fix, eslint, stylelint --fix

style(icon): added the gradient in the logo (#11)
  src/assets/json/contentRail.json
  src/components/Footer/Footer.tsx
  src/components/card/Card.scss
  src/components/card/Card.tsx
  src/components/content_rail/ContentRail.tsx
  src/components/gradient_icon/GradientIcon.tsx
  src/components/hero_banner/HeroBanner.tsx
  src/components/nav_bar/NavBar.scss
  src/components/nav_bar/NavBar.tsx
  src/components/navitems/NavItems.scss
  src/components/navitems/NavItems.tsx
  src/components/newsletter/Newsletter.tsx
  src/components/social_handles/SocialHandles.scss
  src/components/social_handles/SocialHandles.tsx
  src/constants/socialMedia.ts
  src/pages/Home.tsx
  src/pages/layout/Layout.tsx
  src/scss/theme/theme.scss
  src/utils/theme.ts
Due: prettier --write, eslint --fix, eslint, stylelint --fix

feat(tags): added the tags page + style
  src/assets/json/tags.json
  src/components/heading/Heading.tsx
  src/pages/Tags.tsx
  src/pages/tags/Tags.tsx
  src/routing/routes.tsx
Due: prettier --write, eslint --fix, eslint

feat(tags): added the tags page + style (#12)
  src/assets/json/tags.json
  src/components/heading/Heading.tsx
  src/pages/Tags.tsx
  src/pages/tags/Tags.tsx
  src/routing/routes.tsx
Due: prettier --write, eslint --fix, eslint

fix(bug): added the index key
  src/components/social_handles/SocialHandles.tsx
Due: prettier --write, eslint --fix, eslint

feat(course): added the courses page
  src/assets/json/courses.json
  src/components/card/Card.tsx
  src/pages/Courses.tsx
  src/pages/tags/Tags.tsx
Due: prettier --write, eslint --fix, eslint

feat(course): added the courses page (#13)
  src/assets/json/courses.json
  src/components/card/Card.tsx
  src/pages/Courses.tsx
  src/pages/tags/Tags.tsx
Due: prettier --write, eslint --fix, eslint
